<form>
<label>name:</label>
<input type="text"  name="name" [(ngModel)]="name" >
<label > password</label>
<input  type="password" name="pass" [(ngModel)]="password" >
<input  type="submit" value="login" (click)="login()" >
</form>






<p *ngIf="status; else error " > user has been login </p>
<ng-template #error>
<p > user name or password are  not  correct </p>
</ng-template>


<div >
    <h1>this is the list of users from the service</h1>
    <table>
        <tr *ngFor="let name of names">
            <td>id: {{name.id}} </td>
            <td>name: {{name.name}}</td>
            <td>photo: {{name.photo}}</td>
        </tr>
    </table>
</div>

<div><h1>nav</h1>  
<a routerLink="/first"> first</a>
<a routerLink="/other">other</a>
<a routerLink="/new">new</a>

</div>

<div>
    <h1> this is our routes ya prince</h1>
    <router-outlet></router-outlet>
</div>