
<div class="home">

    this is the main component 
   
   <table>
       <tr><td>name:</td>
    <td>{{user.name}}</td></tr>
    <tr>
        <td>status:</td>
        <td class="notActive" [ngClass]="ChangeClass()"  >Acitve</td>
    </tr>
   </table> 

</div>

















<!--
<form>
<label>name:</label>
<input type="text"  name="name" [(ngModel)]="name" >
<label > password</label>
<input  type="password" name="pass" [(ngModel)]="password" >
<input  type="submit" value="login" (click)="login()" >
</form>
<p *ngIf="status; else error " > user has been login </p>
<ng-template #error>
<p > user name or password are  not  correct </p>
</ng-template>


<div >
    <h1>this is the list of users from the service</h1>
    <table>
        <tr *ngFor="let name of names">
            <td>id: {{name.id}} </td>
            <td>name: {{name.name}}</td>
            <td>photo: {{name.photo}}</td>
        </tr>
    </table>
</div>

<div><h1>nav</h1>  
<a [routerLink]="['/first',{id:030303}]"> first</a>
<a [routerLink]="['/other']"  [queryParams]="{id:030303,status:true,name:'ramy'}">other</a>
<a routerLink="/new/{{id}}">new</a>
<a [routerLink]="['/new',id]">newother way </a>
</div>
<div>
    <button (click)="goToFirst()">first</button>
    <button (click)="goToOther()">other</button>
    <button (click)="goToNew()">new </button>
</div>
<div>
    <h1> this is our routes ya prince</h1>
    <router-outlet></router-outlet>
</div>
-->






